.square
  border: 1px solid $square-border-color
  float: left
  font-size: 65px
  height: 100px
  line-height: 100px
  margin-right: -1px
  margin-top: -1px
  padding: 0
  text-align: center
  width: 100px

  &.cross
    color: $square-cross-color

  &.circle
    color: $square-circle-color

  &:focus
    outline: none

.green-square
  background-color: $green-square-background-color

.normal-square
  background-color: $normal-square-background-color
